---
import SectionCard from '../components/SectionCard.svelte';
import { sectionCardsData } from '../data/sectionCardsData';
import { getUrlFromBase } from '../helpers/url';
---

<main id="main-content" class="ai-main-content">
  <SectionCard
    iconSvgPath={getUrlFromBase(sectionCardsData.headerSection.iconSvgPath)}
    iconText={sectionCardsData.headerSection.iconText}
    title={sectionCardsData.headerSection.title}
    description={sectionCardsData.headerSection.description}
    buttons={sectionCardsData.headerSection.buttons}
    backgroundColor={sectionCardsData.headerSection.backgroundColor}
    textColor={sectionCardsData.headerSection.textColor}
    isHeaderSection={true}
    client:visible
  />
  <div
    style="min-height: 500px; margin: 2rem 0; display: flex; flex-direction: column; justify-content: center; align-items: center;"
  >
    <p>We are working hard to bring you this content. Stay tuned!</p>
  </div>

  <SectionCard
    iconSvgPath={getUrlFromBase(sectionCardsData.chatSection.iconSvgPath)}
    iconText={sectionCardsData.chatSection.iconText}
    title={sectionCardsData.chatSection.title}
    description={sectionCardsData.chatSection.description}
    buttons={sectionCardsData.chatSection.buttons}
    backgroundColor={sectionCardsData.chatSection.backgroundColor}
    textColor={sectionCardsData.chatSection.textColor}
    client:visible
  />
  <SectionCard
    iconSvgPath={getUrlFromBase(sectionCardsData.apiSection.iconSvgPath)}
    iconText={sectionCardsData.apiSection.iconText}
    title={sectionCardsData.apiSection.title}
    description={sectionCardsData.apiSection.description}
    buttons={sectionCardsData.apiSection.buttons}
    backgroundColor={sectionCardsData.apiSection.backgroundColor}
    textColor={sectionCardsData.apiSection.textColor}
    client:visible
  />
  <SectionCard
    iconSvgPath={getUrlFromBase(sectionCardsData.consoleSection.iconSvgPath)}
    iconText={sectionCardsData.consoleSection.iconText}
    title={sectionCardsData.consoleSection.title}
    description={sectionCardsData.consoleSection.description}
    buttons={sectionCardsData.consoleSection.buttons}
    backgroundColor={sectionCardsData.consoleSection.backgroundColor}
    textColor={sectionCardsData.consoleSection.textColor}
    client:visible
  />
</main>

<style>
  .ai-main-content {
    border-top: 0;
    padding-left: 0;
    padding-right: 0;
  }
</style>
