---
const { content } = Astro.props;
import { v4 as uuidv4 } from 'uuid';

const menuLabel = `platform-footer-${uuidv4()}`;
---

<p id={menuLabel}>{content.title}</p>
<ul class="add-list-reset" aria-labelledby={menuLabel}>
  {
    content.items.map((item: { url: string; title: string }) => {
      return (
        <li>
          <a href={item.url}>{item.title}</a>
        </li>
      );
    })
  }
</ul>

<style>
  p {
    color: var(--ai-footer-color-text-muted);
    margin-top: 0;
    margin-bottom: var(--ai-size-16);
  }

  ul {
    margin-bottom: var(--ai-size-32);
  }

  li {
    display: block;
    margin-bottom: var(--ai-size-16);
  }

  a {
    color: var(--ai-footer-color-link-rest);
    display: block;
  }

  a:hover {
    color: var(--ai-footer-color-link-hover);
  }
</style>
